<div class="container">

    <h2>All posts</h2>

    <ng-template [ngIf]="isUserLoggedIn()">
        <button 
            mat-raised-button color="primary" 
            (click)="onClickBtnAddPost()"
            matTooltip="Opens up a new page where you can add a new post"
        >
            <mat-icon>add</mat-icon>
            <span>Add post</span>
        </button>
    </ng-template>

    <ng-template [ngIf]="posts.length === 0">
        <h3>Sorry, currently there are no posts :(</h3>
    </ng-template>

    <mat-card *ngFor="let post of posts" class="card">
        <mat-card-header>
            <div mat-card-avatar>
                <img class="profile-image"
                    src="../../../assets/images/default-profile.png" 
                    alt="Profile image"
                />
            </div>

            <mat-card-title>
                {{post.authorName}}
            </mat-card-title>

            <mat-card-subtitle>
                {{post.dateTime}}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>{{post.text}}</p>
        </mat-card-content>

        <mat-card-actions class="card-actions">
            <ng-template [ngIf]="isUserLoggedIn()" [ngIfElse]="elseButtons">
                <button 
                    mat-button 
                    (click)="onLikeClick(post.id)"
                    matTooltip="Like this post"
                >
                    <mat-icon>thumb_up</mat-icon>
                    <span>Like ({{post.likes}})</span>
                </button>
                
                <button 
                    mat-button 
                    (click)="onCommentClick(post.id)"
                    matTooltip="Opens up a new page where you can post a comment"    
                >
                    <mat-icon>comment</mat-icon>
                    <span>Comment</span>
                </button>
                
                <button 
                    mat-button 
                    (click)="onDislikeClick(post.id)"
                    matTooltip="Dislike this post"
                >
                    <mat-icon>thumb_down</mat-icon>
                    <span>Dislike ({{post.dislikes}})</span>
                </button>
            </ng-template>
            
            <ng-template #elseButtons>
                <button 
                    mat-button 
                    (click)="onCommentClick(post.id)"
                    matTooltip="Opens up a new page where you can see all comments for this post"
                >
                    <mat-icon>comment</mat-icon>
                    <span>See comments</span>
                </button>
            </ng-template>
        </mat-card-actions>

    </mat-card>

</div>