<div class="container">
    
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar>
                <img class="profile-image"
                    src="../../../assets/images/default-profile.png" 
                    alt="Profile image"
                />
            </div>

            <mat-card-title>{{post.authorName}}</mat-card-title>
            <mat-card-subtitle>{{post.dateTime}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>{{post.text}}</p>
        </mat-card-content>

        <ng-template [ngIf]="isUserLoggedIn()">
            <mat-card-actions class="card-actions">
                <button mat-button (click)="onLikeClick()">
                    <mat-icon>thumb_up</mat-icon>
                    <span>Like ({{post.likes}})</span>
                </button>
                
                <button mat-button (click)="onDislikeClick()">
                    <mat-icon>thumb_down</mat-icon>
                    <span>Dislike ({{post.dislikes}})</span>
                </button>
            </mat-card-actions>
        </ng-template>
    </mat-card>

    <ng-template [ngIf]="isUserLoggedIn()">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Add a new comment</mat-card-title>
            </mat-card-header>
    
            <mat-card-content>
                <mat-form-field class="comment-input">
                    <textarea matInput placeholder="Your comment..." [(ngModel)]="commentText"></textarea>
                </mat-form-field>
    
                <br />
                
                <button mat-raised-button (click)="onAddCommentClick()">
                    <mat-icon>add</mat-icon>
                    <span>Add comment</span>
                </button>
            </mat-card-content>
        </mat-card>
    </ng-template>

    <h3>Comments</h3>
    
    <mat-card *ngFor="let comment of post.comments" class="card">
        <mat-card-header>
            <div mat-card-avatar>
                <img class="profile-image"
                    src="../../../assets/images/default-profile.png" 
                    alt="Profile image"
                />
            </div>

            <mat-card-title>{{comment.authorName}}</mat-card-title>
            <mat-card-subtitle>{{comment.dateTime}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            {{comment.text}}
        </mat-card-content>
    </mat-card>
</div>