.container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title {
    text-align: center;
}

.button {
    margin-left: 5px;
    margin-right: 5px;
}