<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="title" (click)="onTitleClick()">
            ON<strong>YOUR</strong>MIND
        </span>

        <ng-template [ngIf]="isUserLoggedIn()" [ngIfElse]="nonRegisteredUser">

            <span class="spacer"></span>
            
            <ng-template [ngIf]="isAdminLoggedIn()">
                <button mat-button [matMenuTriggerFor]="adminMenu">
                    <span class="btnText">Admin panel</span>
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                
                <mat-menu #adminMenu="matMenu">
                    <button mat-menu-item (click)="onClickPosts()">
                        <mat-icon>note</mat-icon>
                        <span>All posts</span>
                    </button>
                    
                    <button mat-menu-item (click)="onClickComments()">
                        <mat-icon>comment</mat-icon>
                        <span>All comments</span>
                    </button>
                    
                    <button mat-menu-item (click)="onClickUsers()">
                        <mat-icon>people</mat-icon>
                        <span>All users</span>
                    </button>
                </mat-menu>
            </ng-template>


            <button mat-button [matMenuTriggerFor]="menu">
                <span class="btnText">{{ getUsername() }}</span>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onClickMyProfile()">
                    <mat-icon>perm_identity</mat-icon>
                    <span>My profile</span>
                </button>

                <button mat-menu-item>
                    <mat-icon>note</mat-icon>
                    <span>My posts</span>
                </button>

                <button mat-menu-item>
                    <mat-icon>comment</mat-icon>
                    <span>My comments</span>
                </button>
                
                <button mat-menu-item (click)="onClickLogout()">
                    <mat-icon>input</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>

        </ng-template>
        
        <ng-template #nonRegisteredUser>
            <span class="spacer"></span>

            <button mat-button class="button" (click)="onClickRegister()">
                Register
            </button>
            
            <button mat-raised-button class="button" (click)="onClickLogin()">
                Login
            </button>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>